$color-primary-dark:   #D32F2F;
$color-primary:        #F44336;
$color-primary-light:  #FF6666;
$color-text-light:     #FFFFFF;
$color-accent:         #795548;
$color-primary-text:   #212121;
$color-secondary-text: #727272;
$color-divider:        #B6B6B6;
