*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  text-decoration: none;
}

body {
  color: $color-primary-text;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-smooth: always;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

code {
  color: $color-accent;
}
